body {
  padding: 10px;
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

td,
th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}